@charset "utf-8";

/* 초기화 영역 */
html, body, div, header, nav, section, article, aside, footer, figure, figcaption,
legend, ul,ol,li,dl,dt,dd,h1,h2,h3,h4,p{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
fieldset {
    border: 0;
}
.hidden, legend {
    display: none;
}

/* 웹 폰트 */
@font-face {
    font-family: "OneMob";
    font-weight: 400;
    src:url("../fonts/one_origin/ONE\ Mobile\ Light.ttf")format("truetype");
}
@font-face {
    font-family: "OneMobBold";
    font-weight: 600;
    src:url("../fonts/one_origin/ONE\ Mobile\ Bold.ttf")format("truetype");
}
@font-face {
    font-family: "NanumEX";
    font-weight: 900;
    src: url("font/NanumGothicExtraBold.eot?#iefix")format("embedded-opentype"),
    url("font/NanumGothicExtraBold.woff")format("woff"),
    url("font/NanumGothicExtraBold.ttf")format("truetype");
}

/* 링크 스타일 */
a:link {
    color: #5d5d5d;
    text-decoration: none;
}
a:visited {
    color: #5d5d5d;
    text-decoration: none;
}
a:hover, a:focus {
    color: #79b4b7;
}

/* 기본 스타일 */
body {
    font-family: "Nanum";
    color: #333;
    line-height: 1.2;
    background-color: #fefbf3;
}

/*------------------본문--------------------*/
#skipNav {
    position: absolute;
    left: -9999px;
}
header, #banner, #contentArea, #footer {
    width: 930px;
    margin:auto;
}

/* 헤더 영역 시작 */
header{
    margin-top: 50px;
    box-sizing: border-box;
}
#title{
    height: 75px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-bottom: 10px;
}

h1{
    position: relative;
    width: 300px;
    top: 25px;
    left: 10px;
}
h1 img{
    width: 300px;
}
/* 검색창 */
#search {
    position: absolute;
    right: 200px;
    top: 15px;
}
#search form {
    margin: 0px;
}
#search button{
    position: absolute;
    left: -37px;
    width: 50px;
    height: 44px;
    color: #9d9d9d;
    background-color: #f8f0df;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
#search input {
    padding: 6px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f8f0df;
    border-radius: 0 5px 5px 0;
}

/* 타이틀 아이콘 */
#mainIcon {
    position: absolute;
    right: 0px;
    top: 20px;
}
#mainIcon li{
    float: right;
    margin-right: 25px;
    font-size: 30px;
}
#mainIcon li:hover{
    transform: scale(1.1);
}

/* 타이틀 아래 구분선*/

/* 하단 메뉴 */ 
#menuBar {
    border-bottom: 1px solid #ccc;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 50;
}
#menuBar h2{
    display: inline-block;
}
#menuBar  h2 a {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px;
    background: url(../images/icon/menuBar.png) no-repeat;
    background-size: 30px 30px;
    /* IR */
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
}

    /* 하단 메뉴 */
.dropDown{
    display: block;
    z-index: 20;
}
.menuBar_drop{
    height: 0;
    z-index: 10;
    background-color: rgba(157, 157, 157, 0.8);
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -5px;
    opacity: 0;
    transition: all 0.3s;
}
.menuBar_drop a {
    display: block;
    font-weight: 700;
    padding: 15px 20px;
    color: #ebe8e1;
}
.menuBar_drop a:first-child {
    padding-top: 15px;
}
.dropDown:hover .menuBar_drop{
    height: 200px;
    opacity: 1;
    transition: all 0.3s;
}
.menuBar_drop a:hover{
    color: #f1deb5;
}
/* 헤더 영역 종료 */

/*---------------------------------------------*/

/* 푸터영역 시작 */

footer{
    position: relative;    
    width: 100%;
    background-color: #9d9d9d;
}
#footerInner {
    width: 930px;
    height: 130px;
    margin: 0 auto;
}
    /*상단리스트 시작 */
#footerInner ul {
    height: 30px;
}
#footerInner ul::after{
    position: relative;
    height: 2px;
    width: 930px;
    background-color: #ccc;
}
#footerInner ul li{
    float: left;
    margin:7px 30px 0 0px;
}
#footerInner ul li::after{
    content: "|";
    position: relative;
    left: 15px;
    top: -1px;
    color: #ccc;
}
    /*상단리스트 종료 */
    /*////////////////////////////////*/
    /* 주소영역 시작 */
    address{
        margin: 15px 0 10px 0;
        float: left;
        width: 460px;

    }
    address span{
        display: block;
        font-style: normal;
        font-size: 0.9em;
    }
    .copyright {
        margin-top: 15px;
        float: right;
        width: 460px;
        font-size: 0.9em;
        font-weight: bold;
    }

    /* 주소영역 종료 */
    
/* 푸터영역 종료 */
